# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

ActsEW/ActsEW/obj/Debug/ActsEW.dll
ActsEW/ActsEW/obj/Debug/ActsEW.pdb
ActsEW/ActsEW/obj/Debug/ActsEW.csprojResolveAssemblyReference.cache
ActsEW/ActsEW/obj/Debug/ActsEW.csproj.FileListAbsolute.txt
ClassLibrary1/ClassLibrary1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache